body {
  background: linear-gradient(135deg, #2c2c2c, #1a1a1a);
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: #ff9ec6; /* Color rosa pastel */
}

button {
  background-color: #ff9ec6; /* Color rosa pastel */
  border: none;
  color: #1a1a1a;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #ff6fa1; /* Un poco más oscuro para hover */
}

input, textarea, select {
  background-color: #333;
  color: white;
  border: 1px solid #555;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
  flex: 1;
}

header {
  padding: 20px;
}

footer {
  background-color: #282c34;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}

.container {
  margin: 20px;
}

section {
  margin-bottom: 20px;
}

.banner {
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
}

.banner-content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
}

.category-title {
  background-color: #ff9ec6; /* Color rosa pastel */
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.video-card {
  flex: 0 0 200px;
  margin-right: 10px;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  position: relative;
  border-radius: 10px;
}

.video-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.video-card button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.video-card button:hover {
  background: rgba(0, 0, 0, 0.7);
}
